.we
{height: 5px;
    background-color:#075988
}

.imageSlider{
height: 300px;
width: (100%-10px);
overflow:hidden;
border-style: solid;
border-width: 1px;
object-fit: contain;

    }

    .sliderImage
    {
      height: 100%;
      width: 100%;
      object-fit:fill;
    }

.footer
    {
 display: inline-block;
 border-style: solid;
 border-width: 5px;
width: 100%;
    }
    
.home
   {
  display: flex;
   }
.loginButton
   {
width: auto;
height: 35px;
margin-right: 10px;
   }
.search
   {
width: 200px;
margin-right: 10px;
   }




   :root {
    --speedometerValue1:0; 
    --speedometerValue2: 0; 
    --bg: red;
  }
  
  .Admin
  {color: #1b18b8;
  margin-top: 1px;
  height: 5%;
  border-style: double;
  border-color: red;
  border-width:1px ;
  border-radius: 15px;
  background-color: rgb(220, 223, 204);
  position:relative;
  text-align: center; 
  }
  .slider
  {color: #1b18b8;
  margin-top: 8px;
  height: 150px;
  width: 100%;
  border-style: double;
  border-color: red;
  border-width:1px ;
  border-radius: 15px;
  background-color: rgb(204, 214, 146);
  position:relative;
  text-align:center;
  }
  