body{
    
  }

.grand_parent{ width: 80w; 
    background: #dfe6e9;
      margin-left:20vw;
     }
   

    .parents{  
        width: auto; 
        height: auto; 
        margin: auto;
        padding: 1vw;
        display: flex;
        flex-wrap: wrap; 
        transition: all 0.5 linear;
        background-color: #f7fae2;
        align-self: center;
    }
    .child{text-align: center;
        height: 300px;
        background:#e0f1f1;
        box-shadow: 0 0 20px #bac3c3;
        flex:1 1 15vw;
        margin: 1vw;
        position: relative;
        border-radius:  5%; ;
        transition: all 0.5 linear;
        border: 1px solid  rgb(0, 0, 0) ;
    }
    .child:hover{
        
        border-style: solid;
        border-color: rgb(49, 27, 17);
        border-width:0.3px ;
        box-shadow: 0 0 20px #292b2b;

    
    }
    .child:nth-child(even) {
        background-color: #f4ffff;
    }



    .child:first-child{
       
    }
    .child:last-child{
      
    }


/*tab mod*/
    @media (max-width: 732px) 
    {
        .grand_parent{height:auto; }
        .parents{background-color:rgb(224, 133, 220) ;}
        .child{
            min-height: 250px;  
            flex:1 1 25vw;
              
            margin: 1vw;
        }
        
    }
    /*mobile mode*/
    @media (max-width: 500px){
        .grand_parent{height:auto; }
        .parents{
            background-color:rgb(70, 22, 22) }
        .child{
            
                flex:1 1 50vw;
                margin: 3vw;
            }
    }

.Image3{
    margin-top: 3px;
width:10vw;
height:10vw;
transition: transform .5s;
border: 1px  solid rgb(199, 192, 192) ;

        }
.ProductName3{
    font-style: inherit;
    color: rgb(61, 13, 13);
    font-size: 90%;
   
overflow: hidden;
         }     
    .ProductPrice3
        {
            font-style: inherit;
            color: rgb(32, 73, 15);
            font-weight: 800;
            font-size: 100%;
            position: absolute;
            bottom : 5%;
            left: 2%;
        }
   .ProductButton3
   {
    color: rgb(0, 0, 0);
    background-color: #d8b496;
    font-weight: 500;
    font-size: 80%;
    position: absolute;
bottom: 5%;
right: 2%;
    width: auto;
    height: auto;
    border: 1px solid #c5911f ;
border-radius: 10%;

   }

  .Sidebar
  {text-align: center;
    margin-left: 5px;
float: left;
height: auto;
width: 18vw;
display: inline;
border: 5px double rgb(0, 0, 0);
background-color: rgb(240, 248, 211);
border-radius: 2vw;
  }