
    .grand_parent{ width: 80w; 
    background: #dfe6e9;
      margin-left:20vw;
     }
   
   
    .parents{  
        width: auto; 
        height: auto; 
        margin: auto;
        padding: 1vw;
        display: flex;
        flex-wrap: wrap; 
        transition: all 0.1 linear;
        background-color: #e0e5a0;
        align-self: center;
    }
    .child{
        height: 250px;
        background:#e0f1f1;
        box-shadow: 0 0 20px #bac3c3;
        flex:0 1 17vw;
        margin: 1vw;
        position: relative;
        border-radius:  5%; ;
    }
    .child:hover{
        
        border-style: solid;
        border-color: rgb(49, 27, 17);
        border-width:0.3px ;
        box-shadow: 0 0 20px #292b2b;

    
    }
    .child:nth-child(even) {
        background-color: #f4ffff;
    }



    .child:first-child{
       
    }
    .child:last-child{
      
    }


/*tab mod*/
    @media (max-width: 732px) 
    {
        .grand_parent{height:auto; }
        .parents{background-color:rgb(224, 133, 220) ;}
        .child{
              min-height: 250px;  
    
            flex:1 1 25vw;
            margin: 1vw;
        }
        
    }
    /*mobile mode*/
    @media (max-width: 480px){
        .grand_parent{height:auto; }
        .parents{
            background-color:#000 }
        .child{
            
                flex:1 1 50vw;
                margin: 3vw;
            }
    }

.Image3{
width:100px;
height:100px;
transition: transform .5s;
        }
.ProductName3{
    font-style: inherit;
    color: rgb(61, 13, 13);
    font-size: 90%;
    font-weight: 600;
overflow: hidden;
         }     
    .ProductPrice3
        {
            font-style: inherit;
            color: rgb(32, 73, 15);
            font-weight: 800;
            position: absolute;
            top: 80%;
            left: 0%;
        }
   .ProductButton3
   {
    color: rgb(0, 0, 0);
    background-color: #dff5e6;
    font-weight: 500;
    position: absolute;
top: 80%;
left: 40%;
    width: auto;
    height: auto;
    border: 3px solid #73AD21;


   }

  