
    .grand_parent{ width: 98.5vw; 
        background: #dfe6e9;
        
     }
    h1{
        font-size: 4rem;
        padding: 0px 0;
        text-align: center;
        color: #000;
       
    }
    p{
        text-align: center;
    }
    .parents{  
        width: auto; 
        height: auto; 
        margin: auto;
        padding: 1vw;
        display: flex;
        flex-wrap: wrap; 
        transition: all 0.1 linear;
        background-color: #8e992e;
    }
    .child{
       
        height: 200px;
        background:#81ecec;
        box-shadow: 0 0 20px #bac3c3;
        flex:0 0 22vw;
        margin: 1vw;
        
    }
    .child:hover{
        border-style: solid;
        border-color: rgb(221, 98, 41);
        border-width:0.5px ;
        box-shadow: 0 0 20px #292b2b;

    
    }

    .child:first-child{
        background: #ffbe76;
    }
    .child:last-child{
        background: #ff7979;
    }


/*tab mod*/
    @media (max-width: 732px) 
    {
        .grand_parent{height:auto; }
        .parents{background-color:rgb(224, 133, 220) ;}
        .child{
                
        
            flex:1 1 30vw;
            margin: 3vw;
        }
        
    }
    /*mobile mode*/
    @media (max-width: 480px){
        .grand_parent{height:auto; }
        .parents{
            background-color:#000 }
        .child{
            
                flex:1 1 50vw;
                margin: 3vw;
            }
    }

.Image3{
 width:6vw;
height:6vw;
transition: transform .5s;
        }
.ProductName3{
    font-style: inherit;
    color: rgb(61, 13, 13);
    font-weight: 600;
         }     
    .ProductPrice3
        {
            font-style: inherit;
            color: rgb(32, 73, 15);
            font-weight: 800;
        }
   .ProductButton3
   {
    
    color: rgb(0, 0, 0);
    background-color: #dff5e6;
    font-weight: 500;
    position:static;
    margin-top: 2%;
   }

  